name: Deploy Pull Request Preview

on:
  workflow_run:
    workflows: ["Build Pull Request"]
    types:
      - completed

concurrency: preview-${{ github.event.workflow_run.pull_requests[0].number }}

jobs:
  preview:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"

      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"

      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"

      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"

      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"

      - name: Download Artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          run_id: ${{ github.event.workflow_run.id }}
          name: build
          path: ./build/

      - name: Deploy Preview
        uses: cloudflare/pages-action@v1
        with:
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          apiToken: ${{ secrets.CF_API_TOKEN }}
          projectName: figura-wiki-test
          directory: ./build
          branch: pr-${{ github.event.workflow_run.pull_requests[0].number }}

      - name: Find Comment
        uses: peter-evans/find-comment@v2
        id: fc
        with:
          issue-number: ${{ github.event.workflow_run.pull_requests[0].number }}
          comment-author: "github-actions[bot]"
          body-includes: "A preview for this pull request is now ready. :tada:"

      - run: echo "NOW=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV

      - name: Leave comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.workflow_run.pull_requests[0].number }}
          comment-id: ${{ steps.fc.outputs.comment-id }}
          edit-mode: replace
          body: |
            A preview for this pull request is now ready. :tada:

            | **Preview Details**   |                                                                                                |
            | --------------------- | ---------------------------------------------------------------------------------------------- |
            | URL                   | https://pr-${{ github.event.workflow_run.pull_requests[0].number }}.figura-wiki-test.pages.dev |
            | Updated               | ${{ env.NOW }}                                                                                 |
            | Latest Commit         | ${{ github.event.workflow_run.pull_requests[0].head.sha }}                                     |
            | Latest Commit Message | ${{ github.event.workflow_run.pull_requests[0].head_commit.message }}                          |

            This preview will be automatically updated whenever new commits are pushed to this pull request.